/* GENERAL STYLES */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

body {
  margin: 0px;
  background-color: #0f0f0f;
  font-family: Roboto;
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: #f1f1f1;
}

a {
  text-decoration: none;
}

/* HEADER SECTION */
#header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0f0f0f;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.start {
  display: flex;
  align-items: center;
}

.hamburger-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
}

.hamburger-menu-button:hover {
  background-color: #222222;
}

.hamburger-menu-button:active {
  background-color: #3d3d3d;
}

.hamburger-menu-icon {
  height: 24px;
}

.yt-icon {
  height: 20px;
}

.center {
  flex: 1;
  margin: 0 35px 0 105px;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 14px;
  font-size: 16px;
  border: 1px solid #272727;
  border-radius: 40px 0 0 40px;
  background-color: #121212;
  color: white;
}

.search-bar::placeholder {
  font-size: 16px;
  font-weight: 500px;
  color: #a0a0a0;
}

.search-bar:hover {
  border-color: #243eb6;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border: 1px solid #272727;
  border-radius: 0 40px 40px 0;
  background-color: #222222;
  cursor: pointer;
}

.search-button-icon {
  height: 20px;
  margin-bottom: 2px;
}

.search-voice-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 14px;
  background-color: #222222;
}

.search-voice-button:active {
  background-color: #3d3d3d;
}

.search-voice-icon {
  height: 20px;
}

.search-button .tooltip,
.search-voice-button .tooltip,
.camera-create-button .tooltip {
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #5b5b5b;
  padding: 10px;
  border-radius: 4px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.125s;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.search-voice-button:hover .tooltip,
.camera-create-button:hover .tooltip {
  opacity: 0.9;
}

.end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 200px;
  flex: none;
}

.camera-create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
}

.camera-create-button:hover {
  background-color: #222222;
}

.camera-create-button:active {
  background-color: #3d3d3d;
}

.camera-create-icon {
  height: 27px;
}

.notification-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.notification-button:hover {
  background-color: #222222;
}

.notification-button:active {
  background-color: #3d3d3d;
}

.notification-icon {
  height: 23px;
}

.notification-container {
  margin-right: 24px;
  position: relative;
}

.notification-count {
  display: inline-block;
  color: #f1f1f1;
  position: absolute;
  border: 2px solid #0f0f0f;
  border-radius: 22px;
  background-color: #ca0709;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  padding: 0 4px;
  top: 1px;
  right: -4px;
}

.notification-button .tooltip {
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #5b5b5b;
  padding: 10px;
  border-radius: 4px;
  bottom: -48px;
  opacity: 0;
  transition: opacity 0.125s;
  white-space: nowrap;
}

.notification-button:hover .tooltip {
  opacity: 0.9;
}

.profile-icon {
  height: 27px;
  border-radius: 40px;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid transparent;
}

.profile-icon:hover {
  border-color: #243eb6;
}

/* SIDEBAR SECTION */
.sidebar,
.sidebar-container {
  background-color: #0f0f0f;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 220px;
  overflow-y: auto;
  padding: 12px;
}

.sidebar-menu {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: border 0.75s, background-color;
}

.sidebar-menu:hover {
  background-color: #272727;
}

.sidebar-menu:active {
  background-color: #3d3d3d;
  border: 1px solid white;
}

.sm-home {
  background-color: #272727;
}

.sm-home:hover {
  background-color: #3d3d3d;
}

.sm-home:active {
  background-color: #505050;
}

.sidebar-menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px 0 4px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.sidebar-menu img {
  height: 24px;
}

.sidebar-menu div {
  color: white;
  font-size: 14px;
  line-height: 2rem;
  font-weight: 500;
}

.sm-after-divider {
  margin: 0 0 0 -12px;
}

.sm-divider {
  background-color: #3d3d3d;
  height: 1px;
  z-index: 10;
  max-width: auto;
  margin: 12px 0 0 0;
}

.sm-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 25px 10px 25px;
}

.sm-after-divider .sidebar-menu {
  margin: 0 0 0 12px;
}

/* MAIN CONTENT SECTION */
#main,
.main {
  margin-top: 24px;
  padding: 20px;
  padding-left: 265px;
  display: flex;
  justify-content: center;
  z-index: 0;
}

#contents {
  width: 100%;
  padding-top: 24px;
  justify-content: flex-start;
  z-index: 0;
}

.content-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  column-gap: 10px;
  row-gap: 40px;
}

.content-container {
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  transition: border 0.75s, background-color;
}

.content-container:active {
  background-color: #3d3d3d;
  border: 1px solid white;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
  position: relative;
}

.content-duration {
  color: #f1f1f1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;
  right: 5px;
  bottom: 10px;
  z-index: 1;
}

.content-details-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}

.channel-picture {
  width: 40px;
  border-radius: 40px;
}

.content-title {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-description {
  font-size: 14px;
  color: #aaaaaa;
}

.content-author {
  display: inline-block;
}

.content-author:hover {
  color: white;
}

/* HANDLING SMALL SCREEN FOR HEADER*/
@media screen and (max-width: 800px) {
  .start {
    display: flex;
    align-items: center;
    width: 50px;
  }

  .center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 0;
  }

  .end {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .search-bar {
    display: none;
  }

  .search-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
  }

  .search-button:hover {
    background-color: #222222;
  }

  .search-button:active {
    background-color: #3d3d3d;
  }

  .search-voice-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 10px 0 0;
  }

  .search-voice-button:hover {
    background-color: #222222;
  }

  .search-voice-button:active {
    background-color: #3d3d3d;
  }

  .search-voice-icon {
    height: 20px;
  }
}

/* HANDLING SMALL SCREEN FOR SIDEBAR*/
@media (max-width: 1300px) {
  #sidebar,
  .sidebar,
  .sidebar-container {
    width: 72px;
    padding: 12px 0;
    padding-left: 12px;
  }

  .sidebar-menu {
    width: auto;
    height: 73.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 4px;
    margin-bottom: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: border 0.75s, background-color;
  }

  .sidebar-menu:hover {
    background-color: #272727;
  }

  .sidebar-menu:active {
    background-color: #3d3d3d;
    border: 1px solid white;
  }

  .sidebar-menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }

  .sidebar-menu img {
    height: 24px;
  }

  .sidebar-menu div {
    color: white;
    font-size: 10px;
  }

  .sm-after-divider {
    display: none;
  }

  #main,
  .main {
    padding-left: 98px;
  }
}

/* HANDLING TOO MANY COLUMNS */
@media screen and (min-width: 2100px) {
  .content-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
