* {
  font-family: Roboto;
  color: #f4f4f4;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body div#container {
  background-color: #0f0f0f;
  border: 1px solid #272727;
  border-radius: 10px;
  margin: 0 auto;
  padding: 35px;
}

body div#container header#header h1 {
  margin: 0;
  font-size: 48px;
}

body div#container main#main {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
}

body div#container main#main div#computer-area,
body div#container main#main div#player-area {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0f0f0f;
  margin: 10px;
  width: 350px;
  min-height: 260px;
  border: 3px solid #272727;
  border-radius: 5px;
}

body div#container main#main div p.user {
  background-color: #272727;
  margin: 0;
  padding: 10px 0;
}

body div#container main#main div#computer-area div.icon,
body div#container main#main div#player-area div.icon {
  display: flex;
  justify-content: center;
  margin: 10px;
}

body div#container main#main div#computer-area div.icon div.icon-wrapper,
body div#container main#main div#player-area div.icon div.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

body
  div#container
  main#main
  div#computer-area
  div.icon
  div.icon-wrapper.show
  img,
body
  div#container
  main#main
  div#player-area
  div.icon
  div.icon-wrapper.show
  img {
  display: block;
}

body div#container main#main div#computer-area div.icon div.icon-wrapper img,
body div#container main#main div#player-area div.icon div.icon-wrapper img {
  display: none;
}

body div#container main#main div img {
  height: 200px;
  width: 200px;
}

body div#result {
  display: flex;
  justify-content: center;
  align-items: center;
}

body div#result p{
  background-color: #272727;
  border-radius: 5px;
  font-size: 36px;
  margin: 10px 0;
  padding: 10px 25px;
}

body div#container footer {
  display: flex;
  justify-content: center;
}

body div#container footer div#panel {
  background-color: #0f0f0f;
  border: 3px solid #272727;
  border-radius: 5px;
  margin: 10px;
  height: auto;
  width: 400px;
}

body div#container footer div#panel p.guide {
  background-color: #272727;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}

body div#container footer div#panel div.panel-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body
  div#container
  footer
  div#panel
  div.panel-button-wrapper
  div.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 20px 10px 10px 10px;
}

body
  div#container
  footer
  div#panel
  div.panel-button-wrapper
  div.button-wrapper
  button.panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #272727;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  font-size: 36px;
  font-weight: 250;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

body
  div#container
  footer
  div#panel
  div.panel-button-wrapper
  div.button-wrapper
  p.panel-guide {
  margin: 15px 0 0 0;
}

@media (max-width: 1300px) {
  body div#container {
    width: 500px;
    transition: width 0.25s ease;
  }
}

@media (min-width: 1300px) {
  body div#container {
    width: 750px;
    transition: width 0.25s ease;
  }
}
